.git
.DS_Store
node_modules
**/node_modules
**/.env
**/.env.*
!**/.env.example
**/dist
**/.wrangler
**/.vite
**/coverage
apps/frontend
docs
.github
docs/**/*.pdf
docs/**/*.png
docs/**/*.jpg
docs/**/*.jpeg
docs/**/*.webp
