.env
*.log
pnpm-lock.yaml

coverage
node_modules
dist
*.local
storybook-static

CHANGELOG.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
drizzle
